body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('https://cdn.light-it.net/articles_image/Article45_M1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 30px;
    direction: rtl;
}

.logo {
    font-family: 'Ethnocentric Rg', sans-serif;
    font-size: 32px;
    text-align: right;
}

.logoa{
    color: aliceblue;
    text-decoration: none;
}

.content {
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 20px 0;
    color: white;font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.contact img {
    width: 50px; /* Adjust the width as per your preference */
    height: auto; /* Maintain aspect ratio */
    margin: 10px 20px 0px 10px;
}

.gg{
    opacity: 0.2;
}
